[submodule "tuf-repository-service-cli"]
	path = tuf-repository-service-cli
	url = git@github.com:kaprien/tuf-repository-service-cli.git
[submodule "tuf-repository-service-worker"]
	path = tuf-repository-service-worker
	url = git@github.com:kaprien/tuf-repository-service-worker.git
[submodule "tuf-repository-service-api"]
	path = tuf-repository-service-api
	url = git@github.com:kaprien/tuf-repository-service-api.git
