[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-rtd-theme = "*"
sphinx = "*"
sphinxcontrib-needs = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-openapi = "*"
mistune = "==0.8.4"
myst-parser = "*"
pytest = "*"
pytest-bdd = "*"
dynaconf = "*"
isort = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
