name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  functional-tests:
    uses: ./.github/workflows/functional.yml
    with:
      api_version: dev
      worker_version: dev
      cli_version: dev
    secrets:
      RSTUF_ONLINE_KEY: ${{ secrets.RSTUF_ONLINE_KEY }}
