name: CI

on:
  push:
    branches: ["main"]
    paths:
      - "tests/**"
      - "requirements.txt"
      - ".github/workflows/functional.yml"
      - ".github/workflows/ci.yml"
      - "repository-service-tuf-api/**"
      - "repository-service-tuf-cli/**"
      - "repository-service-tuf-worker/**"
  pull_request:
    branches: ["main"]
    paths:
      - "tests/**"
      - "requirements.txt"
      - ".github/workflows/functional.yml"
      - ".github/workflows/ci.yml"
      - "repository-service-tuf-api/**"
      - "repository-service-tuf-cli/**"
      - "repository-service-tuf-worker/**"
      - ".git/**"
  workflow_dispatch:

jobs:
  functional-tests:
    uses: ./.github/workflows/functional.yml
    with:
      api_version: dev
      worker_version: dev
      cli_version: dev
